@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html, button, input{
    font-family: 'Inter','Source Sans Pro', Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: url("Img/photo.jpg") no-repeat;
    background-size: cover;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    outline: none;
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 35vw;
    height: 100vh;
    margin-left: 5vw;
}

form{
    width: min-content;
    display: grid;
    grid-template:  8vh / 25vw;
    grid-auto-rows: 8vh;
    column-gap: 3vw;
    row-gap: 2vh;
    justify-content: center;
    gap: 2vh;
}

button{
    border: 0;
    border-bottom: .1em solid #a1a1a1;
    background-image:
            linear-gradient(to top, #a1a1a1 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: top;
    transition: 0.3s;
}
button:hover{
    background-position: bottom;
}
form + span{
    display: flex;
    justify-content: center;
}
input{
    border: none;
    outline: none;
    border-bottom: .1em solid #a1a1a1;
    transition: 0.3s;
}

input:focus:valid, input:valid{
    border-bottom: .1em solid #79d756;
}

input:focus:invalid{
    border-bottom: .1em solid #d75661;
}